{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>shameem</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href='{% static "img/favicon.png" %}' rel="icon">
  <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href='{% static "lib/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href='{% static "lib/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/animate/animate.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/ionicons/css/ionicons.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/lightbox/css/lightbox.min.css" %}' rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href='{% static "css/style.css" %}' rel="stylesheet">

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="page-top">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Hello</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">Projects</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll" href="#blog">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url({{ cover.url }});">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">I am {{ name }}</h1>
          <p class="intro-subtitle"><span class="text-slider-items">{{ roles }}</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src='{{ passport.url }}' class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>{{ name }}</span></p>
                      <p><span class="title-s">Profile: </span> <span>{{ profile }}</span></p>
                      <p><span class="title-s">Country: </span> <span>{{ country }}</span></p>
                      <p><span class="title-s">DOB: </span> <span>{{ dob}}</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  {% for i in language %}
                    <span>{{ i.language }}</span> <span class="pull-right">{{ i.knowledge_in_percentage }}%</span>
                    <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ i.knowledge_in_percentage }}%;" aria-valuenow="{{ i.knowledge_in_percentage }}" aria-valuemin="0"
                      aria-valuemax="100"></div>
                    </div>
                  {% endfor %}

                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                     {{ about }}
                  </p>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!--/ Section Education Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Education
            </h3>
            <p class="subtitle-a">

            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for i in edu %}
        <div class="col-md-4">
          <div class="work-box">
            <a href='{{ i.institution_image.url }}' data-lightbox="gallery-mf">
              <div class="work-img">
                <img src='{{ i.institution_image.url }}' alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">{{ i.course }}</h2>

                    <div class="w-more">
                      <span class="w-ctegory"><a href="{{ i.website }}" class="w-ctegory">{{ i.institution }}</a> </span> ( <span class="w-date">{{ i.academic_year }} )</span>
                    </div>
                    <br>
                    <div class="w-more">
                      <span>University/Board : </span><span class="w-ctegory"><a href="{{ i.university_website }}" class="w-ctegory">{{ i.university_name }}</a> </span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="{{ i.university_logo.url }}" data-lightbox="gallery-mf"> <span class="ion-ios-plus-outline"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}




      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->

  <!--/ Section Testimonials Star /-->


  <br><br>

  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Projects
            </h3>
            <p class="subtitle-a">

            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-monitor"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">{{ p1 }}</h2>
              <p class="s-description text-center">
                {{ p1_description }}

              </p>
              <center> <a href="{{ p1_document }}" class="w-ctegory" download="final_project_report">view project report</a></center>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-monitor"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">{{ p2 }}</h2>
              <p class="s-description text-center">
                {{ p2_description }}

              </p>
             <center> <a href="{{ p2_document }}" class="w-ctegory" download="final_project_report">view project report</a></center>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-monitor"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">{{ p3 }}</h2>
              <p class="s-description text-center">
                {{ p3_description }}

              </p>
              <center> <a href="{{ p3_document }}" class="w-ctegory" download="mini_project_report">view project report</a></center>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--/ Section Services End /-->

  <div class="testimonials paralax-mf bg-image" style="background-image: url({% static 'img/apj.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-mf" class="owl-carousel owl-theme">
            <div class="testimonial-box">
              <div class="author-test">
                <img src='{% static "img/kalam.jpg" %}' alt="" class="rounded-circle b-shadow-a">
                <span class="author">Dr. APJ Abdul Kalam</span>
              </div>
              <div class="content-test">
                <p class="description lead">
                  Some of the brightest minds in the country can be found on last benches of the class room.
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>
            <div class="testimonial-box">
              <div class="author-test">
                <img src='{% static "img/kalam.jpg" %}' alt="" class="rounded-circle b-shadow-a">
                <span class="author">Dr. APJ Abdul Kalam</span>
              </div>
              <div class="content-test">
                <p class="description lead">
                  “Black color” is sentimental bad but every black board makes the student life better.
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!--/ Section Blog Star /-->
  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Hobbies
            </h3>
            <p class="subtitle-a">

            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for i in hobby %}
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="blog-single.html"><img src='{{ i.image.url }}' alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">{{ i.hobby }}</h6>
                </div>
              </div>

              <p class="card-description">
                {{ i.description }}
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">

                </a>
              </div>
              <div class="post-date">

              </div>
            </div>
          </div>
        </div>
        {% endfor %}



      </div>
    </div>
  </section>
  <!--/ Section Blog End /-->

  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Send Message
                    </h5>
                  </div>
                  <div>
                      <form action="" method="post" role="form" class="contactForm">
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="" />
                              <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="" placeholder="Message"></textarea>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded" onclick="myFunction()">Send Message</button>

                        </div>
                        <label id="demo" style="color:red;"></label>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                     {{ contact }}
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> {{ place }}</li>
                      <li><span class="ion-ios-telephone"></span> {{ phone }}</li>
                      <li><span class="ion-email"></span> {{ email }}</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="{{ instagram }}"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href="{{ gitlab }}"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                      <li><a href="{{ linkedin }}"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">&copy; Copyright <strong>{{ nick_name }}</strong>. All Rights Reserved</p>
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                -->
                Designed by {{ name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script>
function myFunction() {
  document.getElementById("demo").innerHTML = "This service is tempararly unavailable.Please use other mentioned options.Sorry for the inconvenience.";
}
</script>
  <script src='{% static "lib/jquery/jquery.min.js" %}'></script>
  <script src='{% static "lib/jquery/jquery-migrate.min.js" %}'></script>
  <script src='{% static "lib/popper/popper.min.js" %}'></script>
  <script src='{% static "lib/bootstrap/js/bootstrap.min.js" %}'></script>
  <script src='{% static "lib/easing/easing.min.js" %}'></script>
  <script src='{% static "lib/counterup/jquery.waypoints.min.js" %}'></script>
  <script src='{% static "lib/counterup/jquery.counterup.js" %}'></script>
  <script src='{% static "lib/owlcarousel/owl.carousel.min.js" %}'></script>
  <script src='{% static "lib/lightbox/js/lightbox.min.js" %}'></script>
  <script src='{% static "lib/typed/typed.min.js" %}'></script>
  <!-- Contact Form JavaScript File -->
  <script src='{% static "contactform/contactform.js" %}'></script>

  <!-- Template Main Javascript File -->
  <script src='{% static "js/main.js" %}'></script>

</body>
</html>
